section {
    padding: 0;
    margin: 0;
}

.contact {
    background-image: linear-gradient(#da56b7, #F6F0C4);
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    justify-content: center;
}

.contact_img img {
    max-width: 90%;
    width: 720px;
    height: auto;
    border-radius: 10px;
}

.contact-form h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}

.us {
    color: #fff;
}

.contact-form p {
    color: #fff;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1rem;
    margin-bottom: 3.8rem;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    width: 80%;
    padding: 15px;
    border: none;
    outline: none;
    background: #fff;
    color: #da56b7;
    font-size: 1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}

.contact-form textarea {
    resize: none;
    height: 120px;
}

.contact-form form .btn {
    display: inline-block;
    background: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 150px;
    transition: ease .20s;
    cursor: pointer;
}

.contact-form form .btn:hover {
    border: 2px solid #da56b7;
    background: transparent;
    transform: scale(1.1);
}

@media (max-width: 1570px){
    section {
        padding: 80px 3%;
        transition: .2s;
    }

    .contact-form h1 {
        font-size: 60px;
    }

    .contact-form p {
        margin-bottom: 3rem;
    }
}

@media (max-width: 1090px){
    .contact {
        grid-gap: 2rem;
        transition: .3s;
    }
}

@media (max-width: 1000px){
    .contact {
        grid-template-columns: 1fr;
    }
    .contact-form {
        order: 2;
    }
    .contact_img img {
        max-width: 100%;
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 30px;
    }
}