

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-image: linear-gradient(#da56b7, #F6F0C4);    
}

.container{
    background-image: linear-gradient(#da56b7, #F6F0C4);    
    padding-top: 72px;
    padding-bottom: 150px;
}

.content{
    width: 1000px;
    margin: 20px auto;
}

.content > div{
    display: inline-block;
    vertical-align: top;
}

.left-content{
    width: 580px;
    padding-right: 32px;
    box-sizing: border-box;
}
.f-logo{
    margin: 110px 0 16px;
}
.f-logo > img{
    height: 106px;
    margin: -9px;
}

.f-quote{
    font-size: 25px;
    font-weight: 500;
    color: #333;
    
}

.card{
    background: #fff;
    width: 396px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding: 10px 15px;
    box-sizing: border-box;
    margin-top: 40px;
}

.inputcontainer> input[type=text],
.inputcontainer > input[type=password]{
    width: 100%;
    padding: 18px 16px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    margin: 5px 0;
    font-size: 17px;
}

.inputcontainer > input[type=text]:focus,
.inputcontainer > input[type=password]:focus{
    border: 1px solid #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff
}

.inputcontainer input:focus {
    border: 1px solid #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
    
}

.inputcontainer.success input {
    border-color: #1877f2;
}

.inputcontainer.error input {
    border-color: #ff3860;
}

.inputcontainer .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
}   

.login-btn, .signup-btn{
    background: #da56b7;
    color: #fff;
    border-radius: 6px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    border: none;
    box-sizing: border-box;
    padding: 14px 16px;
    margin: 10px 0;
    cursor: pointer;
}

.forgotten-password{
    text-align: center;
}

.forgotten-password > a{
    font-weight: 600;
    font-size: 14px;
    color: #1877f2;
    display: inline-block;
    margin: 20px 0;
    text-decoration: none;
}

.forgotten-password > a:hover{
    text-decoration: underline;
}

.divider{
    width: 100%;
    height: 1px;
    background: #d2d2d2;
}


.crt-new-ac{
    display: inline-block;
    background: #da56b7;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    padding: 10px 16px;
    font-weight: 600;
    font-size: 17px;
    margin: 20px 0 7px;
}

.crt-page{
    color: #000;
    text-align: center;
    padding: 20px 0;
}

.crt-page > a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

.f-lg-footer{
    width: 980px;
    margin: 30px auto;
}

.f-lg-footer > ul{
    margin-bottom: 10px;
    margin-top: 10px;
}

.f-lg-footer > ul > li{
    display: inline-block;
    margin: 0 5px;
}

.f-lg-footer > ul > li > a{
    text-decoration: none;
    color: #777;
    font-size: 12px;
}

.fix-m-header{
    background: #fffbe2;
    color: #3b5998;
    text-align: center;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    display: none;
}

.fix-m-header > span,
.fix-m-header > img{
    vertical-align: top;
}

.fix-m-header > span{
    line-height: 50px;
}

.fix-m-header > img{
    position: relative;
    top: 10px;
}

.m-footer{
    display: none;
}



.already-have-account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .already-have-account p {
    margin-right: 10px;
    font-size: 16px;
  }
  
  .already-have-account a {
    color: #1877f2;
    text-decoration: none;
    font-size: 16px;
  }
  
  .already-have-account a:hover {
    text-decoration: underline;
  }
  

@media (max-width: 980px){

    .container{
        padding-top: 0px;
        padding-bottom: 20px;
        background: #fff;
    }
    .content{
        width: 100%;
        margin: 0 auto;
    }
    .left-content{
        width: 100%;
    }
    .right-content{
        width: 100%;
    }

    .f-lg-footer{
        display: none;
    }

    .f-logo{
        margin: 0 auto; 
        text-align: center;
    }
    .f-logo > img{
        height: 50px;
        margin: auto;
        display: inline-block;
    }

    .f-quote{
        display: none;
    }

    .card{
        width: 100%;
        box-shadow: none;

    }

    .inputcontainer > input[type=text],
    .inputcontainer > input[type=password]{
        background: #f5f6f7;
    }

    .fix-m-header{
        display: block;
    }

    .m-footer{
        display: block;
        width: 250px;
        margin: 0 auto;
    }
    .m-footer .m-f-lang > ul:first-child{
        float: left;
    }
    .m-footer .m-f-lang > ul:last-child{
        float: right;
    }
    .m-footer .m-f-lang > ul li{
        list-style: none;
    }

    .m-footer .m-f-lang > ul > li > a{
        text-decoration: none;
        color: #777;
    }

    .m-footer .links > a{
        display: inline-block;
        margin: 0 10px;
        text-decoration: none;
        color: #777;
        font-weight: 500;
    }
}


