
@media (max-width: 800px) {

    .Hero-mainContent {
        width: 100%;
        height: 60vh;
    }

    .Chef-img {
        width: 350px;
        margin-top: 20px;
    }

    .hero-btn {
        font-size: 15px;
        width: 180px;
        margin-top: 60px;
    }

    .next-page {
        width: 100%;
        height: auto;
    }

    .food h1 {
        font-size: 60px;
    }

    .food p {
        font-size: 40px;
        margin-bottom: 100px;
    }

    .bread-content {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .bread1-container img, .bread2-container img,
    .bread3-container img, .bread4-container img    {
        width: 100%;
    }

    .bread1-container, .bread2-container,
    .bread3-container, .bread4-container{
        margin-right: 10px;
    }

    .food-container {
        width: 100%;
        height: 100vh;
    }
    
}

@media (max-width: 700px) {

    .one h1 {
        font-size: 3em;
    }

    .Chef-img {
        width: 100%;
    }

    .Hero-mainContent {
        width: 100%;
    }
    .contain h1 {
        font-size: 4em;
    }

    .bread-content {
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .food h1 {
        font-size: 4em;
    }

    .food-container {
        height: auto;
    }

    .bread1-container, 
    .bread2-container, 
    .bread3-container, 
    .bread4-container {
        width: 500px;
    }

    .bread1-container, .bread2-container,
    .bread3-container, .bread4-container{
        margin-bottom: 60px;
    }

    .bread1-title, 
    .bread2-title,
    .bread3-title,
    .bread4-title {
        font-size: 3em;
        margin-bottom: 20px;
    }

    .img-description, 
    .img2-description,
    .img3-description,
    .img4-description {
        font-size: 2em;
        margin-top: 20px;
    }
}


@media (max-width: 452px) {


    .Hero-mainContent {
        width: auto;
        height: 100vh;
    }

    .Home_girl {
        width: 100%;
    }

    .contain h1 {
        font-size: 50px;
        text-align: center;
    }

    .next-page {
        flex-direction: column;
        width: auto;
    }

    .Chef-img {
        width: 100%;
    }

    .food-container {
        width: auto;
        height: auto;
        flex-direction: column;
    }

    .bread-content {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .food h1 {
        font-size: 50px;
    }

    .food p {
        font-size: 30px;
        margin: 10px 10px 10px 10px;
    }

    .bread1-container, .bread2-container,
    .bread3-container, .bread4-container{
        margin-bottom: 10px;
    }

    .bread1-container, 
    .bread2-container, 
    .bread3-container, 
    .bread4-container {
        width: 200px;
    }
}
