
* {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
}

.header-logo, .humba-logo, .burger-logo, .sisig-logo{
   color: #fff;
   font-weight: 700;
   text-decoration: none;
   font-size: 30px;
   font-family: 'Tilt Prism', cursive;
   flex-direction: row;
}



.Hero-mainContent {
    width: 100%; 
    height: calc(100vh - 60px);
    margin-top: 60px;
    padding-top: 140px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(#da56b7, #F6F0C4);    
}

.Home_girl {
    width: 300px;
    
}

.contain h1 {
    margin: 20px;
    padding: 10px 10px 10px 10px;
    font-size: 4em;
    letter-spacing: 10px;
    font-family: 'Abril Fatface', cursive;
    align-items: center;
    color: #fff;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(1);
    animation-delay: 4s;
    animation: slidein;
}

@keyframes slidein {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
.contain p {
    font-size: 20px;
    margin: 20px;
    font-weight: 6em;
    line-height: 25px;
    text-align: center;
    color: #fff;
}

.CookingGirl {
    width: 30rem;
}


h2 {
    margin-top: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
	background-image: linear-gradient(#da56b7, #F6F0C4);
	
}

ol > li::marker {
    font-weight: bold;
  }

ol {
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 15px;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 0 auto;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(#f775d4, #f775d4);
	margin-top: 10%;

}
.left,
.right {
    width: 50%;
    height: 50%;
    display: inline-block;
    box-sizing: border-box;   
}



.header {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.buttom{
    margin: 20px 40px;
    padding: 20px;
}

.buttom ol {
    margin: 20px;
    padding: 10px;
    letter-spacing: 2px;
    color: #fff;
}

.buttom h2{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

h1 {
    font-size: 40px;
    text-underline-offset: 20px;
    margin-top: 10px;
}

table  {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
}


th, td {
    padding: 5px 5px;
    margin-left: 10px;
    border-bottom: 1px solid #eaeaea;
}


th {
    padding: 5px 5px;
    margin-left: 10px;
    background-color: #F6F0C4;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    

}

.img-holder {
    margin-top: 30px;
    border: 4px solid #814768;
    margin: 30px;
    border-radius: 10px;
    margin-top: 12%;
}

.img-holder img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }


@media (max-width: 1440px) {
    .container {
        width: 90%;
        padding: 10px 10px 10px 10px;
    }

}
@media (max-width: 1228px) {
    
    h1 {
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    h2 {
        font-size: 20px;
    }

    th, td {
        font-size: 18px;
    }
    
    th {
        font-size: 18px;
    }

    ol {
        font-size: 10px;
    }

}

@media (min-width: 940px) {
    h1 {
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    h2 {
        font-size: 18px;
    }

    table {
        width: 100%;
    }

    th, td {
        font-size: 18px;
    }
    
    th {
        font-size: 18px;
    }

    ol {
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    .container {
        top: 40px;
        margin-bottom: 60px;
        width: 90%;
        flex-direction: column;
    }

    .img-holder img {
        width: 100%;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    h1 {
        font-size: 35px;

    }

    h2 {
        font-size: 30px;
    }

    th, td {
        font-size: 20px;
    }
    
    th {
        font-size: 17px;
    }

    ol {
        font-size: 17px;
        margin-left: 30px;
        margin-bottom: 20px;
    }
}


/* button */


.next-page {
    background-color: #A765BC;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.one {
    width: 50%;
    letter-spacing: 2px;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    position: relative;
}

.one h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    color: #dfdfdf;
}

.one p {
    color: #fff;
}

.hero-btn {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-top: 100px;
    font-family: 'Crete Round', serif;
    background-color: #d82c82;
    color: #fff;
    border: none;
    height: 70px;
    width: 220px;
    border-radius: 37px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: box-shadow 0.15s;
}

.Chef-img {
    width: 380px;
    margin-top: 38px;
    margin-right: 150px;
}


.hero-btn:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}


.two {
    width: 50%;
    margin: 20px auto;
}


.fa {
    padding: 10px;
    font-size: 25px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
}
  
.fa:hover {
    opacity: 0.8;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
      
.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}
  
.fa-instagram {
    background: #125688;
    color: white;
}

